DATABASE_HOST=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_USER=


BACKEND_URL=

NOMBA_BASE_URL=https://sandbox.api.nomba.com
NOMBA_PARENT_ACCOUNT_ID=
NOMBA_CLIENT_ID=
NOMBA_CLIENT_SECRET=